language: java
sudo: false
matrix:
  include:
    - jdk: openjdk7
      env: TEST_GRADLE_VERSIONS=4.1
    - jdk: oraclejdk8
      env: TEST_GRADLE_VERSIONS=2.6
    - jdk: oraclejdk8
      env: TEST_GRADLE_VERSIONS=2.7
    - jdk: oraclejdk8
      env: TEST_GRADLE_VERSIONS=2.8
    - jdk: oraclejdk8
      env: TEST_GRADLE_VERSIONS=2.9
    - jdk: oraclejdk8
      env: TEST_GRADLE_VERSIONS=2.10
    - jdk: oraclejdk8
      env: TEST_GRADLE_VERSIONS=2.11
    - jdk: oraclejdk8
      env: TEST_GRADLE_VERSIONS=2.12
    - jdk: oraclejdk8
      env: TEST_GRADLE_VERSIONS=2.13
    - jdk: oraclejdk8
      env: TEST_GRADLE_VERSIONS=2.14
    - jdk: oraclejdk8
      env: TEST_GRADLE_VERSIONS=3.0
    - jdk: oraclejdk8
      env: TEST_GRADLE_VERSIONS=3.1
    - jdk: oraclejdk8
      env: TEST_GRADLE_VERSIONS=3.2
    - jdk: oraclejdk8
      env: TEST_GRADLE_VERSIONS=3.3
    - jdk: oraclejdk8
      env: TEST_GRADLE_VERSIONS=3.4
    - jdk: oraclejdk8
      env: TEST_GRADLE_VERSIONS=3.5
    - jdk: oraclejdk8
      env: TEST_GRADLE_VERSIONS=4.0
    - jdk: oraclejdk8
      env: TEST_GRADLE_VERSIONS=4.1
install:
  # Workaround for openjdk7 package missing SunEC, to talk to *.gradle.org through TLS
  # Download Gradle distribution (services.gradle.org) and plugins (plugins.gradle.org) using openjdk8
  - JAVA_HOME=$(jdk_switcher home openjdk8) ./gradlew classes testClasses clean
script: ./gradlew build -Ptest.gradle-versions="$TEST_GRADLE_VERSIONS"
before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
